# List and its default functions

In [ ]:
#list example

In [1]:
months = ['Janauary', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']

print(months)

['Janauary', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# default functions

In [3]:
#sort function for sorting list
months.sort()
print(months)

['April', 'August', 'December', 'February', 'Janauary', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

In [4]:
#reverse in list
months.reverse()
print(months)

['September', 'October', 'November', 'May', 'March', 'June', 'July', 'Janauary', 'February', 'December', 'August', 'April']

In [6]:
#adding elements to end of list
months.append("empty")
print(months)

['September', 'October', 'November', 'May', 'March', 'June', 'July', 'Janauary', 'February', 'December', 'August', 'April', 'empty']

In [8]:
#inserting elements at particular elements
months.insert(1,"jan")
print(months)

['September', 'jan', 'October', 'November', 'May', 'March', 'June', 'July', 'Janauary', 'February', 'December', 'August', 'April', 'empty']

In [9]:
#removing elements using pop
months.pop(1)
print(months)

['September', 'October', 'November', 'May', 'March', 'June', 'July', 'Janauary', 'February', 'December', 'August', 'April', 'empty']

# dictionary and its default function

In [23]:
players = {'Sachin' : 10,
          'Dhoni' : 7,              #key is immutable value is mutable,key can be string,value
          'Kohli' : 18,
          'Ganguly': 99}

# default functions

In [24]:
#the keys method return all the keys
print(players.keys())

dict_keys(['Sachin', 'Dhoni', 'Kohli', 'Ganguly'])

In [25]:
#the values method return all the values
print(players.values())

dict_values([10, 7, 18, 99])

In [27]:
#item method all the keys and value pairs
print(players.items())

dict_items([('Sachin', 10), ('Dhoni', 7), ('Kohli', 18), ('Ganguly', 99)])

In [29]:
#del method to delete key-value pair
del players['Dhoni']
print(players)

{'Sachin': 10, 'Kohli': 18, 'Ganguly': 99}

In [32]:
#adding value to the dictionary
players['dhoni']=10
print(players)

{'Sachin': 10, 'Kohli': 18, 'Ganguly': 99, 'sachin': 10, 'dhoni': 10}

In [33]:
#retriving a value from dict
players.get('Kohli')

18

# set and its default fumctions

In [34]:
computerscience={'computernetwork','DBMS','python','java','c'}
print(computerscience)

{'c', 'DBMS', 'computernetwork', 'java', 'python'}

# default functions

In [37]:
#add method to add elements to the set
computerscience.add('javascript')
print(computerscience)

{'c', 'DBMS', 'computernetwork', 'javascript', 'java', 'python'}

In [38]:
#update method is used to add multiple elements to the set
computerscience.update(['web','android'])
print(computerscience)

{'c', 'DBMS', 'computernetwork', 'javascript', 'java', 'android', 'web', 'python'}

In [39]:
#len function to know the length of the set
len(computerscience)

8

In [40]:
#remove method to remove particular element
computerscience.remove("computernetwork")
print(computerscience)

{'c', 'DBMS', 'javascript', 'java', 'android', 'web', 'python'}

In [41]:
#pop method is used to remove last element
computerscience.pop()
print(computerscience)

{'DBMS', 'javascript', 'java', 'android', 'web', 'python'}

# tuple and its default function

In [1]:
#tuple -A tuple is a collection of objects which ordered and immutable
tup1 = ('physics', 'chemistry', 1997, 2000)
print(tup1)

('physics', 'chemistry', 1997, 2000)

In [7]:
# count function to know the number of times the element present in the tuple
tup1.count('physics')

1

In [10]:
#length function to know the length of the
len(tup1)

4

In [15]:
#to know the position of value
tup1.index("chemistry")

1

In [18]:
#to join two tuples
tup2=(1,2,3)
tup3=tup1+tup2
print(tup3)

('physics', 'chemistry', 1997, 2000, 1, 2, 3)

# string and its default functions

In [44]:
#string example
msg="hello,this is chethana from sjcit"

# default functions

In [46]:
#len function to get length of the len
len(msg)

33

In [48]:
#upper method is used to convert all letters to upper case
print(msg.upper())

HELLO,THIS IS CHETHANA FROM SJCIT

In [49]:
#lower method is used to convert all letters to lower case
print(msg.lower())

hello,this is chethana from sjcit

In [50]:
#islower returns true if the letters are lower case
print(msg.islower())

True

In [51]:
#isupper returns true is all the letters are upper case
print(msg.isupper())

False